* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cls-1 {
  fill: #83AA67;
}

.cls-2 {
  fill: #F86D2A;
}

.cls-3 {
  fill: #F28C30;
}

.cls-4 {
  fill: #DE6E4A;
}

.cls-5 {
  fill: #467970;
}

.reg {
  opacity: .2;
}

.reg:hover {
  opacity: 1;
  cursor: pointer;
}

.reg--active {
  opacity: 1;
}

.inf {
  -webkit-box-shadow: 7px 7px #467970;
          box-shadow: 7px 7px #467970;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 20px;
  width: 350px;
  height: 50vh;
  overflow-x: hidden;
}

.inf__header {
  font-weight: 600;
  font-size: 25px;
  color: #070707;
  letter-spacing: 2px;
}

.inf-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 20px;
}

img {
  margin: 10px 0;
}

.inf-body {
  text-align: justify;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fil1 {
  fill: #000000;
  cursor: pointer;
}
